*.cfg
share/
bin/
include/
lib/
lib64/
lib64
rent-data-canada/*/__pycache__/
rent-data-canada/rent_fast/generated_heatmaps/
rent-data-canada/rent_fast/full_appartments_data/
rent-data-canada/rent_fast/circlemap_datasets/
