*.cfg
share/
bin/
include/
lib/
lib64/
lib64
gathering_scripts/rent-data-canada/*/__pycache__/
gathering_scripts/rent-data-canada/drivers/
*/*/__pycache__/
*/__pycache__/
__pycache__/
.DS_Store
gathering_scripts/rent-data-canada/.DS_Store
.idea
*.sql
*.db
*.geojson
*.plist